:root {
  --primary-text-color: #212121;
  --logo-black:#000000;
  --secondary-text-color: #757575;
  --icon-color: #afb1b8;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bgr-white-color: #f5f5f5;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --bgr-grey-color: #f5f4fa;
  --bgr-darck-color: #2f303a;
  --start-color: rgba(47, 48, 58, 0);
  --end-color: rgba(47, 48, 58, 0.4);

}
.section {
  background-color: var(--primary-white-color);
  width: 100%;
  margin: 0 auto;
  padding: 94px 0;
}



h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}
/* copponents */

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
} 
.discription{
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
}
.h2-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.conteiner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
AA
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;s

  color: var(--primary-text-color);
}

/* blocks */
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}


/* header */

.header__logo span{
  color: var(--logo-black);
}
.header__logo{
  padding: 24px 0;
}

.header__conteiner {
  justify-content: space-between;
  display: flex;
}
header{ border-bottom: 1px solid #ececec;}


/* site-nave */

.site-nave .link {
  display: block;
  position: relative;
  padding-bottom: 32px;
  /transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.site-nave .link:hover,
.site-nave .link:focus {
  color: var(--accent-color);
}

.site-nave .linkcurrent{
  color:var(--accent-color) ;
  text-decoration: none;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkcurrent:hover:after{
  width: 100%;

}
.linkcurrent::after{
  position: absolute;
  content:"";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
   background: var(--accent-color); 
  border-radius: 4px;
 
}

.site-nave .list {
  margin-left: 94px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
 
}


.site-nave {
  display: flex;
  align-items: center;
}
.site-nave .item:last-child {
  margin-right: 0;
}
.site-nave {
  display: flex;
  align-items: center;
  padding-left: 94px;
  padding-top: 32px;
   transition: transform 250ms cubic-bezier(0.4,0,0.2,1); 
   margin-right: 50px;
}

.site-nave .item:last-child {
  margin-right: 0;
}
.site-nave li {
  margin-right: 50px;
}


.seting-nave {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 90px;
}


/* adress-head */

.adress-head__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-head__link:hover,
.adress-head__link:focus {
  color: var(--accent-color);
}

.adress-head__icon {
  fill: var(--secondary-text-color);
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.adress-head__icon:hover,
.adress-head__icon:focus {
  color: var(--accent-color);
}

.adress-head__icon--svg{
  fill: currentColor;
}

.adress-head__link {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-head__link:hover .icon-adress-link,
.adress-head__link:focus .icon-adress-link {
  fill: var(--accent-color);
}

.adress-head {
  display: flex;
  align-items: center;
}

.adress-head:last-child {
  margin-right: 0;
}
.adress-head__mail {
  display: flex;
  align-items: center;
}

.adress-head__phone {
  display: flex;
  align-items: center;
}

/* HERO */


.hero-section {
  padding: 94px 0;
 background-color: var(--bgr-darck-color); 
  width: 100%;
  height: 100%;
  background-image:linear-gradient(to top,
  var(--start-color),var(--end-color)
  ),url(../images/Img.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  gap: 30px;
  flex-direction: column;
}
.hero-section__conteiner {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  gap: 30px;
  flex-direction: column; 
} 
.hero-section__title {
  width: 696px;
  display: inline-block;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

  /* help */
 
  .help-section {
    padding-bottom: 0;
   } 
   .help-section__list {
    display: flex;
    gap: 15px;
  
  }
/* advantage-card */
 
.advantage-card__title {
  font-size: 14px;
  line-height: 1.14;
}
.advantage-card__discription {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0px;
}

 
.advantage-card:last-child {
  margin-right: 0;
  
}

.advantage-card__link{
  margin-right: 0;
}

 .advantage-card__svg{
  display: block;
  justify-content:center;
  width: 270px;
  height: 120px;
  background: var(--bgr-grey-color);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px; 
  fill: currentColor;
}

/* action-photo */

.item-photo__action{
  position: relative;
  overflow: hidden; 
}

.discrip-photo__action{
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(100%);
  height: 24%;
  min-width:  370px;
   /* opacity: 0; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
 
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 27px 90px;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.action-photo__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-decoration: none;
}
.action-photo__list {
  display: flex;
  gap: 30px;
  width: 100%;
}

/* modal-active */
.modal-wrap{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(47, 48, 58, 0.4);
  z-index: 999;
transition: opacity 250ms cubic-bezier(0.4,0,0.2,1),visibility 250ms ;
}

.modal-wrap.is-hidden{
opacity: 0;
visibility: hidden;
 pointer-events: none;
}
.modal-wrap.is-hidden .modal{
  transform: translate(-50%,-50%) scale(1.2);

}
.modal{
  max-width: 528px;
  width: 100%;
  max-height: 581px;
  height: 100%;
  background: var(--primary-white-color);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 888;
transition: transform 250ms ease;
padding: 41px 44px 39px 36px;
}
.close-modal{
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
 
}
.cross.close-modal{
  fill: var(--primary-text-color);
  position: absolute;
  right: 10px;
  top: 10px;
}
.form-row-test{
  position: relative;
}

.form-row-test::after{
  gap: 12px;
  background-image: url(../images/icons/cross.svg);
 background-repeat: no-repeat;
 background-position: center;
 border:1px solid var(--accent-color) ;

color: var(--primary-white-color);
}

/* inputform */

.form-row:not(:last-child){
  margin-bottom: 10px;
}

.form-row {
  font-size:12px;
  line-height:1.1666;
font-weight: 400;
letter-spacing: 0.01em;
}

.form-row-input{
  display: block;
  max-width: 470px;
  width: 100%;
  height: 40px;
  border: 1px solid 
  rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 41px;
  outline:none;
  color:var(--input-color);
}
.form-row-input.form-story{
  min-height: 120px;
  width: 448px;
  transform: auto;
  padding: 16px 12px;
  resize: none;
}

.form-row-input::placeholder {
  color: var(--secondary-text-color);
}

  .form-row-input:focus {
    border: 1px solid var(--accent-color);
  }
  .form-row-input .icon{
     padding-right: 12px; 
  }
  .form-row-input:focus + svg {
      fill:var(--accent-color);
    }

  .form-row svg {
    position: absolute;
    top: 20px;
   transform:translateY(-50%);
   left: 12px;
    transition: fill 0.3s ease-in-out;
  }
.modal p{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
display: block;
letter-spacing: 0.03em;

color: var(--primary-text-color);
  }

  /* checkbox */
  
  .privacy a{
    color: var(--accent-color);
  }
  
  .privacy label {
    position: relative;
  }
.privacy input {
  display: none;
}
.privacy {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 20px;
  text-align: center;
  
}
.privacy label::before {
  cursor: pointer;
  display: inline-block;
  content: ""; 
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 1px solid var(--bgr-darck-color);
  border-radius: 2px;
 
}
.privacy input:checked + label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icons/Vector.svg);
 background-repeat: no-repeat;
 background-position: center;
 border:1px solid var(--accent-color) ;

color: var(--primary-white-color);}

.privacy a{
  color: var(--accent-color);
}

/* button */
.button {
  color: var(--primary-text-color);
}

.order-button {
  height: 50px;
  width: 216px;
  font-style: normal;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;

  min-width: 216px;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-prymary {
  min-width: 73px;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition-duration: 1s;
  position: absolute;
}

.button-secondary {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
 line-height: 1.625;
  font-weight: 500;
  position: relative;
  
}
.send_btn{
  min-width: 216px;
  min-height: 50px;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-duration: 1s;
  position: relative;
  margin-top: 30px;
  margin-left: 118px;
}
.send_btn:hover,
.send_btn:focus{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--bgr-grey-color);
  cursor: pointer;
  border: 0ch;
 line-height: 1.625;
  font-weight: 500; 
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.items-photo:hover,
.items-photo:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.items-photo{
  position: relative;
  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items-photo:hover.discrip-photo{
  opacity: 1px;}

.block-photo a{
  text-decoration: none;
}
button {
  font-family: inherit;
}






/* client */


.clients-row__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  height: 92px;
  width: 170px;
  border-radius: 4px;
  color: var(--icon-color);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-row__link:hover,
.clients-row__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-row__icon {
  fill: currentColor;
}
.clients-row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.clients-row__icon:hover {
  fill: var(--accent-color);
}


/* our-team */

.our-team_section{
  background-color: var(--bgr-grey-color);
  max-width: 1600px;
}


.team-card {
  border-color: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}


.team-card__discription {
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 16px;
}


.team-card__conteiner {
  padding: 30px 10px 0px;
  
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
  margin-bottom: 30px;
}
.socials-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.our-team__list {
  display: flex;
  gap: 30px;
  width: 100%;
  text-align: center;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}


/*  portfolio*/


.block-photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.block-photo__discription {
  line-height: 1.88;
}


.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--bgr-grey-color);
  cursor: pointer;
  border: 0ch;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
button {
  font-family: inherit;
}
.button-secondary .list .current {
  display: flex;
  justify-content: center;
}
.button-secondary .items {
  border-color: transparent;
  border-radius: 0px 0px 4px 4px;
}
 
.block-photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}


/* portfolio action-discription */

.item-photo__wrap{
  position: relative;
  overflow: hidden;
  

}
.items-photo__link:hover .discrip-photo,
.items-photo__link:focus .discrip-photo{
  transform: translateY(0);
}

.discrip-photo{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  display: flex;
  /* opacity: 0; */
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  padding: 63px 24px;
  overflow: auto;
  transition: background-color,transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.section-category .items {
  display: flex;
  justify-content: center;
}
.section-category h1 {
  align-items: center;
}

.images {
  display: block;
}

.filling {
  padding: 20px;
  border: 1px solid #eeeeee;
}
.poster {
  margin-top: 9px;
  margin-bottom: 6px;
}

/* footer */

.footer__conteiner {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
  padding: 60px 0;
}
.footer__logo span {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.footer__logo{
  display: inline-block;
  margin-bottom: 20px;
}
.footer-nave__link {
  display: inline-block;
 
  color: var(--secondary-white-color);
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nave__link:hover,
.footer-nave__link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--bgr-darck-color);
}
.footer-adress .conteiner {
  display: inline-block;
  margin-bottom: 9px;
}

.foot_adress{
  max-width: 231px;
  width: 100%;
}
.socials__link--footer {
  fill: var(--primary-white-color);
}
.footer-social__icon {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-top: 12px;
}
.footer-adress__link {
  display: inline-block;

  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__link:hover,
.footer-adress__link:focus {
  color: var(--accent-color);
}

.adress{
  display: grid;
gap: 9px;
}
.social-item__link--footer {
  fill: var(--primary-white-color);
}



/* modal */

.modal-form{
  display: flex;
}
.modal-form:not(:first-child){
  display: block;
  
}
.footer .modal-form:not(:first-child){
  display: flex; 
}

.form-row__title:not(:first-child){
  margin-top: 10px;
}
.form-row__title{
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  color: var(--secondary-text-color);
}


.form-row-inp{
  display: block;
max-width: 358px;
width: 100%;
border: 1px solid 
rgba(255, 255, 255, 0.3);
border-radius: 4px;
padding: 15px 0 16px 15px;
outline:none;
color:rgba(255, 255, 255, 0.6);
background: none;
margin-right: 12px;
margin-top: 20px;}

.footer_send_btn{
  max-width: 200px;
  max-height: 50px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  /* text-align: center; */
  text-align: start;
  left: 12px;
  padding: 10px 27px;
  border: 1px solid transparent;
  
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-duration: 1s;
  position: relative;
  margin-top: 20px;
  

}
.footer_send_btn:hover,
.footer_send_btn:focus{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.form-row-footer {
  position: relative;
  display: block;
  font-size:12px;
  line-height:1.1666;
font-weight: 400;
letter-spacing: 0.01em;
max-width: 570px;
width: 100%;
max-height: 50px;
height: 100%;
background: none;
  transition: transform 250ms ease;
  padding: 0px 0px 0px 0px;
  margin-left: 39px;
  }


.icon-footer{
  display: flex;
  position: absolute;
  right: 15%;
  top: 25%;
  color: var(--primary-white-color);
}



/* main background white:    #F5F5F5 */
/* second text white         #FFFFFF */
/* background button grey    #F5F4FA */
/* background/text   blue    #2196F3 */
/* logo black                #000000 */
/* main text black           #212121 */
/* second text grey          #757575*/
/* footer-grayrgba(255, 255, 255, 0.6) */
/* Font Raleway Weight 700 */
/* Font Roboto Weight 400, 500, 700, 900 */