
.advantage-card{
&__title {
    font-size: 14px;
    line-height: 1.14;
  }
  &__discription {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
   
  &:last-child {
    margin-right: 0;
    
  }
  
  &__link{
    margin-right: 0;
  }
  
  &__svg{
    display: block;
    justify-content:center;
    width: 270px;
    height: 120px;
    background: var(--bgr-grey-color);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px; 
    fill: currentColor;
  }
}