.modal-form{
    display: flex;
  
  &:not(:first-child){
    display: block;
    
  }
  &:not(:first-child){
    display: flex; 
  }
  
  
  
  &__input{
    display: block;
  max-width: 358px;
  width: 100%;
  border: 1px solid 
  rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 0 16px 15px;
  outline:none;
  color:rgba(255, 255, 255, 0.6);
  background: none;
  margin-right: 12px;
  margin-top: 20px;
}
  
  
  &__icon{
    display: flex;
    position: absolute;
    right: 15%;
    top: 25%;
    color: var(--primary-white-color);
  }
  &__btn{
    max-width: 200px;
    max-height: 50px;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: start;
    left: 12px;
    padding: 10px 27px;
    border: 1px solid transparent;
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition-duration: 1s;
    position: relative;
    margin-top: 20px;
  }
  &__btn:hover,
  &__btn:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  }
}
  .form-mailing{
    position: relative;
    display: block;
    font-size:12px;
    line-height:1.1666;
  font-weight: 400;
  letter-spacing: 0.01em;
  max-width: 570px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  background: none;
    transition: transform 250ms ease;
    padding: 0px 0px 0px 0px;
    margin-left: 39px;
    }
  
  
 